
<img src="/img/insert.png" class="img">

<div class="main">

<form method="post" action="/employees/addEmployee">

<input type="text" placeholder="ime" name="ime">

<input type="text" placeholder="prezime" name="prezime">

<input type="text" placeholder="pozicija" name="pozicija">

<input type="text" placeholder="adresa" name="adresa" > 

<input type="text" placeholder="bruto plata" name="bruto_plata">

<input type="submit" placeholder="Submit employee">

</form>

</div>

<link rel="stylesheet" href="/css/insert.css">
